<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="junso.flutter_plugins.ios_user_defaults.ios_user_defaults_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
